#contactList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact {
    flex-basis: 25%;
    border: 2px solid black;
    padding: 2%;
    text-align: center;
    margin: 2%;
    width: 200px;
}
